public
.idea
.node_modules
node_modules
Backend/Backend/obj
/backend/backend/bin/Debug/net6.0
/backend/.vs/Backend/FileContentIndex
/backend/.vs/Backend/DesignTimeBuild
/backend/.vs/Backend
/backend/.vs/ProjectEvaluation

