.form-control:focus {
    border-color: #3d5af1;
    // box-shadow: none;
  }
  .btn-primary {
    background-color: #3d5af1;
    border-color: #3d5af1;
  }
  .btn-primary:hover {
    background-color: #2d3fbc;
  }
  .nav-link:hover {
    color: greenyellow !important;
  }